<div class="tourWrapper">
    <div class="topContainer">
      <div class="topContainerWrapper">

          <div class="luxuriousBox pack" value="luxury" routerLink="/package-luxurious"  ></div>
          <div class="luxuriousOverlay" value="luxury" routerLink="/package-luxurious"></div>

          <div class="honeymoonBox pack" value="Family" routerLink="/package-list" (click)="getData($event)"></div>
          <div class="honeymoonOverlay" value="Family" routerLink="/package-list" (click)="getData($event)"></div>

          <div class="advantureBox pack" value="Adventure" routerLink="/package-list" (click)="getData($event)"></div>
          <div class="advantureOverlay" value="Adventure" routerLink="/package-list" (click)="getData($event)" ></div>
          
          <div class="familyBox pack" value="International" routerLink="/package-list" (click)="getData($event)">  </div>
          <div class="familyOverlay" value="International" routerLink="/package-list" (click)="getData($event)"></div>

          <div class="weekendBox pack" value="National" routerLink="/package-list" (click)="getData($event)"></div>
          <div class="weekendOverlay" value="National" routerLink="/package-list" (click)="getData($event)"></div>

          <div class="backpackingBox pack" value="Backpacking" routerLink="/package-list" (click)="getData($event)"></div>
          <div class="backpackingOverlay" value="Backpacking" routerLink="/package-list" (click)="getData($event)"></div>
      </div>
    </div>
</div>

