<app-home></app-home>

<div class="contentContainer">
    <div class="contentBox">
        <div class="contentTitle"> THE DECCAN ODYSSY LUXURY TRAIN </div>
        <div class="pic1"></div>
        <div class="pic1Text"> <span>Guest Cabins</span>  <br> Recreating the aesthetics of the erstwhile Deccan dynasties, the 12 guest carriages of the Deccan Odyssey train are categorized as 10 Suite coaches (40 cabins) and 2 Presidential Suite coaches (4 cabins). Each guest carriage is named after an erstwhile ruling dynasty of the Deccan India and reverberates with their architectural aesthetics. </div>
        <div class="pic2Text"> <span> Resturents</span> <br>
            The Deccan Odyssey train has two multi cuisine restaurants- Peshwa I and Peshwa II. Each of these two restaurants serves an array of Indian, Continental and Oriental cuisines. Stewards dressed in Maharastrian attire serve food on the platter of the guests.</div>
        <div class="pic2"></div>
        <div class="pic3"></div>
        <div class="pic3Text"> <span>Conference Car</span>  <br>Offering a seating capacity of 30 people, the  conference car is equipped with a range of modern amenities to serve your corporate endeavors</div>
        <div class="pic4Text"> <span>Health Spa</span>  <br> The fitness suite on board Deccan Odyssey train allows guests to follow their workout regime. The facility of steam bath and Ayuvredic body massage will rejuvenate your mind, body and soul.</div>
        <div class="pic4"></div>
    </div>
</div>


<app-footer></app-footer>