<!DOCTYPE html>
<html>
    <title></title>
    <head>
        <meta charset="utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type = "text/css" href = "../css/index.css" />
    </head>
    <script></script>
    
    <body>
        <div class="mainScreen">
            <div class="homeScreen">
                <div class="homeHeader Container">
                    <div class="logoBox">Explorer Get A Way</div>
                    <div class="menuBox"></div>
                </div>         
                <div class="imageSliderBox Container">
                    <div class="firstSlider Image"></div>
                    <div class="secondSlider Image"></div>
                    <div class="thirdSlider Image"></div>
                    <div class="lastSlider Image"></div>
                </div>
                <div class="homeContent Container">
                    <div class="contentBox"></div>
                </div>
                <div class="homeFooter Container">
                </div>
            </div>
        </div>
        <script src="../js/jquery.min.js" type="text/javascript"></script>
        
    </body>
</html>