<div class="homeWrapper">
    <div class="homeScreen">
      <div class="homeContent">
        <div class="logo" routerLink="/"></div>
        <div class="phoneNumber">+91 8130830710</div>
        <div class="email">explorersgetaway@gmail.com</div>
        <div class="menu">
          <div class="destination Option" routerLink="/package-list">DESTINATIONS</div>
          <div class="aboutUs Option">ABOUT US</div>
          <div class="services Option">SERVICES</div>
          <div class="contact Option">CONTACT US</div>
        </div>
      </div>
  
          <!-- 
                  <div class="infoBox">
                      <div class="input-group">
                          <label> Name</label>
                          <input type="text" class="name">
                      </div>
                      <div class="input-group">
                          <label>Enter your mobile no.</label>
                          <input type="text" class="mobile">
                      </div>
                      <div class="input-group">
                          <label>Email Id</label>
                          <input type="email" class="email">
                      </div>
                      <div class="input-group">
                          <label> Origin</label>
                          <input type="text" class="origin">
                      </div>
                      <div class="input-group">
                          <label>Destination</label>
                          <input type="text" class="destination">
                      </div>
                      <div class="input-group">
                          <label>Month of travel</label>
                          <input type="text" class="month">
                      </div>
                      <div class="input-group">
                          <input type="submit" class="btn">
                      </div>
                  </div>
              </div>
          </div> -->
    
    </div>
  </div>
  