<div class="contentScreen">
    <div class="aboutTitle">ABOUT US</div>
    <div class="aboutContent">
        <p>In this age of internet &amp; electronic boon, the computer and phone systems provide database and
        services at the expense of a click. This paraphernalia undoubtedly provides options but at the same
        time becomes insipid when you plan for trip of a lifetime, business trip, breezer of a weekend trip.
        We at Explorer’s Getaway believe in direct customer to agent interaction as our agents are certified
        and well versed with the travel knowledge given their first hand experience. Our agents are
        dedicated to tailor the deals for the kind of traveller you are. Do not hesitate to give us a call at +91 9873576566 and let our agent filter out just the itinerary for you.
    </p>
        <p>Explorersgetaway.com is a registered online travel guide of Every Explorer’s Getaway PVT LTD When
            we explore we not only travel but also travel while imbibing our experiences. We cater services like
            passport, visa, travel insurance, EU Rail booking, air tickets, hotel bookings, cruise booking, currency
            exchange, car rental, inbound or outbound tour packages and every possible travel requisite our
            client can think of. Work experience over the years has obliged us to learn how holidaying carves its
            niche into every traveller’s timeline. We sell dreams to the honeymooners, adrenaline to the
            adventurers, glee to the travel groups and promptness to the work travellers.
        </p>
        <p>
                Encompassing the ice capped Himalayas to the washed out sands of coastal regions, undulating
                terrains of North East India to the sprawling white of Kutch. Be it international destination of tourist
                nations or lesser-explored destination on your bucket list, we are obsessed to provide you with the
                service at every possible coordinate around the globe. Our aim is to provide flexible packages as per
                the client’s taste and need, ensure fair transaction and above all worthwhile experience to the client.
        </p>
    </div>
</div>
